* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: articulat-cf, sans-serif;
  font-style: normal;
  font-weight: 600;

  color: #1E1E1E;
}

html {
  background-color: #ECEDF2;
}

nav {
  margin: 1em 0 1em 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.nav_item {
  text-decoration: none;
  margin: 0 3em 0 3em;
  font-size: 1.5em;
}

.logo {
  height: 100%;
}

footer {
    background-color: #001F0F;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 2em 0 0 0;
}

.footer_left {
    margin: 0 10em 0 5em;
}

.footer_left > img {
    margin: 0 0 6em 0;
}

.footer_left > p {
    font-size: 3.2em;
    line-height: 1.2em;
}

.footer_left > hr {
    margin: 0 0 5em 0;
}

.footer_left_socials > img {
    margin: 0 2em 0 0;
}

.footer_right {
    align-self: center;
    width: 90%;
}

.footer_right > ul {
    columns: 2;
    column-gap: 1em;
}

.footer_white {
    color: #ECEDF2;
    list-style: none;
}

.footer_grey {
    color: #63967B;
    list-style: none;
    margin: 0 0 0.5em 0;
    font-weight: 200;
    font-size: 0.8em;
}

.footer_list_title {
    font-weight: 500;
    font-size: 2em;
    margin: 0 0 1em 0;
}