* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    background-color: #EBB656;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scene_one {
    display: none;
}

.scene_one > img {
    width: 100%;
    height: 100%;
}

.scene_two {
    display: none;
}